{% extends "template.html" %}
{% block content %}


<div class="container">

    <!-- FAQ's -->
	<!-- ***** -->
	<div class="panel">
	  <div class="panel-heading" style="font-size:25px"><strong>Frequently Asked Questions</strong></div>
	  <div class="panel-body">
		<ol>
		  <li><h3>What Pandas Bootcamp?</h3></li>
			<p>It's a simple web app were you can hone your Pandas skills.</p>
		  
		  <li><h3>How do I copy the data into a pandas dataframe?</h3></li>	 
		    <p>import pandas as pd</p>
			<p>pd.read_clipboard()</p>
			
		  <li><h3>How can I get a new question/dataset?</h3></li>	  
			<p>Refresh the browser.</p>	

		  <li><h3>Found a bug with the app?</h3></li>	  
			<p>Write to <a href="mailto:HernanDRojas@gmail.com">HernanDRojas@gmail.com</a> and explain in detail what problem you found consist of.</p>				

		</ol>

	  <br></br>	
	  <p>For any other questions not listed above, please write to HEDARO.</p>	
	  
		<address>
		  <span class="glyphicon glyphicon-envelope" style="color:black;font-size:100%;"></span>
		  <a href="mailto:HernanDRojas@gmail.com">HernanDRojas@gmail.com</a>
		</address>	  
	  
	  </div>
	</div>
	
	
</div>	<!-- end container div -->	
	
{% end block %}

	

