{% extends "template.html" %}
{% block content %}


<div class="container">

    <!-- FAQ's -->
	<!-- ***** -->
	<div class="panel">
	  <div class="panel-heading" style="font-size:25px"><strong>Frequently Asked Questions</strong></div>
	  <div class="panel-body">
		<ol>
		  <li><h3>What is pyRS - Python Reporting Server?</h3></li>
			<p>pyRS is an application that will allow you to distribute your IPython notebooks throughout your organization. You have the
				ability to re-run notebooks or simply share your analysis via a web url.</p>
		  
		  <li><h3>How to add/remove a notebook in BARS?</h3></li>	  
			<p>All of the notebooks are housed in a git repository.</p>
			
		  <li><h3>How to share your notebook via a web url?</h3></li>	  
			<p>pyRS provides links to the notebook you can use to share your analysis.</p>

		  <li><h3>How to re-run your notebook?</h3></li>	  
			<p>By clicking on the update button, your notebook will be re-run and saved back to the repository.</p>			

		</ol>

	  <br></br>	
	  <p>For any other questions not listed above, please write to HEDARO.</p>	
	  
		<address>
		  <span class="glyphicon glyphicon-envelope" style="color:black;font-size:100%;"></span>
		  <a href="mailto:HernanDRojas@gmail.com">HernanDRojas@gmail.com</a>
		</address>
	  
	  </div>
	</div>
	
	
</div>	<!-- end container div -->	
	
{% end block %}

	

